<!--<div class="l-siteContainer l-header-fixed l-footer-fixed siteContainer">-->
  <header app-header class="l-navigation"></header>
  <!--<book-list></book-list>-->

  <footer class="l-footer footer">
      <div class="footerPanel footerPanel__utility">
        <div class="foorterIconPanel__item">
        </div>
      </div>
      <div class="footerPanel footerPanel__links">
        <div class="footerPanel__item footerPanel__item--default copyright">&copy; Inspired by Athena</div>
        <div class="footerPanel__item footerPanel__item--default copyright">sit amet, consectetur adipisicing elit.</div>
      </div>
      <div class="footerPanel footerPanel__social">
      </div>
    </footer>
<!--</div>-->
