<main>
  <h1>{{title}}</h1>

  <div class="imageFrame">
    <div class="imageFrame__imageWrapper">
      <img src="../../public/images/faceless-artist.jpg">
    </div>
    <p class="imageFrame__caption">Click an artist name for the site info</p>
  </div>

  <ul class="siteList">
    <li *ngFor="let artist of artists"
      (click)="selectArtist(artist)">
      <span>
        {{ artist.id }}
      </span>
        {{ artist.name }}
    </li>
  </ul>

  <artist-detail [artist]="artistSelected"></artist-detail>

</main>
