main {
  padding: 1em 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;

  background-color: saddlebrown;
}

main ul > li {
  list-style: none;
  margin-top: 5px;
}
