<div class="l-pageContainer l-fixed-header pageContainer">
  <div class="l-pageHeader pageHeader">
    <div class="l-navContainer navContainer">
      <div class="l-logoContainer logoContainer"></div>
    </div>
    <div class="l-menuWrapper menuWrapper">
      <div class="l-menuContainer menuContainer">
        <ul class="menuList">
          <li class="menuItem">
            <a routerLink="/portfolio" routerLinkActive="activeLink">
              <span>Portfolio</span>
            </a>
          </li>
          <li class="menuItem">
            <a routerLink="/artists" routerLinkActive="activeLink">
              <span>Artists</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="l-pageContentWrapper pageContentWrapper">
    <div class="l-contentContainer contentContainer">
      <div class="artistContent">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="l-contentFooterContainer contentFooterContainer">
      <div><span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolore</span></div>
    </div>

  </div>
</div>
