<main>
  <h1>{{title}}</h1>
  <img src="../../public/images/kitten.jpg">

  <h3>[Click an artist name to for its site info]</h3>

  <ul>
    <li *ngFor="let artist of artists"
      (click)="selectArtist(artist)">
      <span>
        {{ artist.id }}
      </span>
        {{ artist.name }}
    </li>
  </ul>

  <div *ngIf="artistSelected" class="artist">
      Artist: <span>{{ artistSelected.name }}</span>
      Web Site: <input [(ngModel)]="artistSelected.webSite" placeholder="webSite">
  </div>

</main>
