 <div *ngIf="artist" class="artistDetailContainer">
  <div class="artistBlock artistBlock__detail">
    <div class="imageContainer">
      <div class="imageFrame"><img src="../../public/images/artist-orange.png"/>
      </div>
    </div>
    <div class="artistBlock__title">
     {{ artist.id }} <span> [ {{ artist.name }} ]</span>
    </div>
    <div class="artistBlock__desc">
      {{ artist.webSite }}
    </div>
    <div class="artistBlock__desc">
      <input [(ngModel)]="artist.webSite" placeholder="webSite" />
    </div>
    <div class="currentArtistContainer">
      <a class="infoButton" (click)="navigateBack()">Go Back</a>
      <a class="infoButton" (click)="saveArtist()">Save</a>
    </div>
  </div>
</div>
