<!--<header class="l-navigation">-->
  <h1 class="logo"><a href="#">RL</a></h1>
  <nav class="l-navlinks desktopMenu">
    <!--<ul class="menuFlat">
      <li><a href="#" class="menuFlat__Title">Books</a>
        <div class="menuFlat__extended menuFlat__extended--right">
          <div class='left'>
            <h2>By Category</h2>
            <div class="menuFlat__item--category">
              <a target=''>Baby-2 Years Old</a>
              <a target=''>Ages 3-5 Years Old</a>
              <a target=''>Ages 6-8 Years Old</a>
              <a target=''>Ages 9-12 Years Old</a>
              <a target=''>Teen & Young Adult</a>
              <a target=''>K-12 Teachers</a>
            </div>
            <h2>Featured in Children's Books</h2>
            <div class="menuFlat__item--category">
              <a target=''>100 Children's Books to Read in a Lifetime</a>
              <a target=''>Award Winning Books</a>
              <a target=''>Best Books of the Month</a>
              <a target=''>Best Sellers</a>
              <a target=''>Personalized Books</a>
              <a target=''>Kindle Children's Books</a>
            </div>
          </div>
          <div class='left'>
            <h2>Featured in Children's Books</h2>
            <div class="menuFlat__item--category">
              <a target=''>100 Children's Books to Read in a Lifetime</a>
              <a target=''>Award Winning Books</a>
              <a target=''>Best Books of the Month</a>
              <a target=''>Best Sellers</a>
              <a target=''>Personalized Books</a>
              <a target=''>Kindle Children's Books</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="#" class="menuFlat__Title">Authors</a>
        <div class="menuFlat__extended menuFlat__extended--right">
          <div class='left'>
            <h2>By Category</h2>
            <div class="menuFlat__item--category">
              <a target=''>Baby-2 Years Old</a>
              <a target=''>Ages 3-5 Years Old</a>
              <a target=''>Ages 6-8 Years Old</a>
              <a target=''>Ages 9-12 Years Old</a>
              <a target=''>Teen & Young Adult</a>
              <a target=''>K-12 Teachers</a>
            </div>
            <h2>Featured in Children's Books</h2>
            <div class="menuFlat__item--category">
              <a target=''>100 Children's Books to Read in a Lifetime</a>
              <a target=''>Award Winning Books</a>
              <a target=''>Best Books of the Month</a>
              <a target=''>Best Sellers</a>
              <a target=''>Personalized Books</a>
              <a target=''>Kindle Children's Books</a>
            </div>
          </div>
          <div class='left'>
            <h2>Featured in Children's Books</h2>
            <div class="menuFlat__item--category">
              <a target=''>100 Children's Books to Read in a Lifetime</a>
              <a target=''>Award Winning Books</a>
              <a target=''>Best Books of the Month</a>
              <a target=''>Best Sellers</a>
              <a target=''>Personalized Books</a>
              <a target=''>Kindle Children's Books</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="#" class="menuFlat__Title">Book Clubs</a>
        <div class="menuFlat__extended menuFlat__extended--left">
          <div class='left'>
            <h2>By Category</h2>
            <div class="menuFlat__item--category">
              <a target=''>Baby-2 Years Old</a>
              <a target=''>Ages 3-5 Years Old</a>
              <a target=''>Ages 6-8 Years Old</a>
              <a target=''>Ages 9-12 Years Old</a>
              <a target=''>Teen & Young Adult</a>
              <a target=''>K-12 Teachers</a>
            </div>
            <h2>Featured in Children's Books</h2>
            <div class="menuFlat__item--category">
              <a target=''>100 Children's Books to Read in a Lifetime</a>
              <a target=''>Award Winning Books</a>
              <a target=''>Best Books of the Month</a>
              <a target=''>Best Sellers</a>
              <a target=''>Personalized Books</a>
              <a target=''>Kindle Children's Books</a>
            </div>
          </div>
          <div class='left'>
            <h2>Featured in Children's Books</h2>
            <div class="menuFlat__item--category">
              <a target=''>100 Children's Books to Read in a Lifetime</a>
              <a target=''>Award Winning Books</a>
              <a target=''>Best Books of the Month</a>
              <a target=''>Best Sellers</a>
              <a target=''>Personalized Books</a>
              <a target=''>Kindle Children's Books</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="#" class="menuFlat__Title">Children Books</a>
        <div class="menuFlat__extended menuFlat__extended--left">
          <div class='left'>
            <h2>By Category</h2>
            <div class="menuFlat__item--category">
              <a target=''>Baby-2 Years Old</a>
              <a target=''>Ages 3-5 Years Old</a>
              <a target=''>Ages 6-8 Years Old</a>
              <a target=''>Ages 9-12 Years Old</a>
              <a target=''>Teen & Young Adult</a>
              <a target=''>K-12 Teachers</a>
            </div>
            <h2>Featured in Children's Books</h2>
            <div class="menuFlat__item--category">
              <a target=''>100 Children's Books to Read in a Lifetime</a>
              <a target=''>Award Winning Books</a>
              <a target=''>Best Books of the Month</a>
              <a target=''>Best Sellers</a>
              <a target=''>Personalized Books</a>
              <a target=''>Kindle Children's Books</a>
            </div>
          </div>
          <div class='left'>
            <h2>Featured in Children's Books</h2>
            <div class="menuFlat__item--category">
              <a target=''>100 Children's Books to Read in a Lifetime</a>
              <a target=''>Award Winning Books</a>
              <a target=''>Best Books of the Month</a>
              <a target=''>Best Sellers</a>
              <a target=''>Personalized Books</a>
              <a target=''>Kindle Children's Books</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="#" class="menuFlat__Title">Log In</a></li>
      <li><a href="#" class="menuFlat__Title">Join</a></li>
    </ul>-->
  </nav>

  <nav class="navActions">
    <ul>
      <li class="navActions__item navActions__menu">
        <a class="js-actionMenu fa-bars" data-mobileMenu="open">Menu</a>
      </li>
    </ul>
  </nav>
<!--</header>-->
