.artistMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .imageFrame {
    width: 33.333%;
    // background-color: crimson;

    border-width: 8px;
    border-style: solid;
    border-color: #f8f8f8;

    display: block;
    max-width: 100%;
    line-height: 0;
    box-sizing: border-box;

    .imageFrame__imageWrapper {
      border-color: #e2e2e2;
      position: relative;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .imageFrame__caption {
      background: #f8f8f8;
      color: #A6A6A6;

      display: block;
      text-align: center;
      margin: 0;
      padding: 10px 0 5px;
      line-height: normal;
    }
  }

  .siteList {
    color: #737E86;
    margin: 25px 0 15px 0;
    font-size: 15px;
    line-height: 21px;
    list-style: none outside;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    li {
      background: url(../../public/images/list-light.png) no-repeat 20px 6px;
      margin-bottom: 10px;
      position: relative;
      list-style: none;
      margin-left: 0;
      padding: 0;
      padding-left: 50px;
      border: 0;
    }
  }
}

.artistGrids {
  width: 100%;
  padding: 25px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  .artistGrid {
    border: 5px solid cornflowerblue;
    width: 30%;
    height: 100px;

    .artistGrid__item {
      color: cornflowerblue;
      text-align: center;
    }
  }
}
